#sidebar.collapse-horizontal {
    transition: width 0.4s ease-in-out;
    overflow: hidden;
    flex-shrink: 0;
}

#sidebar.show {
    width: 150px;
    min-width: 150px;
    transition: width 0.4s ease-in-out;
}

#sidebar.collapsing {
    width: 0 !important;
}

#sidebar.collapse:not(.show) {
    width: 0;
}

@media (min-width: 1200px) {
    #sidebar.show {
        width: 14rem;
        min-width: 14rem;
    }
}

@media (max-width: 992px) {
    #sidebar a span {
        display: none;
    }

    #sidebar.show {
        width: 4rem;
        min-width: 4rem;
    }
}

@media (max-width: 768px) {
    #sidebar {
        position: relative;
        z-index: 1000;
    }

    #sidebar.show {
        width: 3.5rem;
        min-width: 3.5rem;
    }
}
