.hover-pointer {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.hover-pointer:hover {
    background-color: #f8f9fa;
}

.card-img-right {
    width: 30%;
    object-fit: cover;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    height: auto;
}

.card-meta{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #6b6b6b;
    font-size: 13px;
    margin-top: 1em;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Mobile responsive styles */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
        width: 100% !important;
    }

    .card-body {
        width: 100% !important;
    }

    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 8px;
    }

    .card h5 {
        font-size: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-meta {
        font-size: 6px;
    }

}