.logo-text{
    font-family: Sana, serif;
    font-weight: bold;
    font-size: 30px;
}

.btn-transp{
    background-color: transparent;
    border: none;
    color: darkgray;
}

.btn-transp:hover{
    background-color: transparent;
    border: none;
    color: black;
}

.button-transparent{
    background-color: transparent;
    border: none;
}

.main-pfp{
    height: 35px;
    width: 35px;
    border-radius: 20px;
    margin-top: 4px;
    margin-right: 10px;
}