.hover-pointer {
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.hover-pointer:hover {
    background-color: #f8f9fa; /* subtle hover effect */
}
.card-img-right {
    width: 30%;
    object-fit: cover;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    height: auto;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }
    .card-img-right {
        width: 100%;
        height: 180px;
        border-top-right-radius: 0.375rem;
        border-bottom-right-radius: 0;
    }
}