.right{
    margin-bottom: 24px;
    display: block;
}
.name{
    font-size: 20px;
    font-weight: 400;
}
.list-group{
    margin-bottom: 200px;
}

/* Mobile responsive: hide rightbar on main pages (not profile) */
@media (max-width: 992px) {
    .p-3[style*="width: 30%"][style*="border-left"] {
        display: none !important;
    }
}
